@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&family=Nunito+Sans:wght@300;400;600;700&family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto+Condensed:wght@400;700&family=Rubik:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600&display=swap');

:root {
  --theme-color: #0799d3; /*#667d8e or #e9b30e or #f68972*/
  --primary-dark-color: #252525;
  --secondary-dark-color: #757575;
  --primary-light-bg-color: #fff;
  --secondary-light-bg-color: #f7f8fb; /*#f7f8fb or #f1f3f6*/
  --border-color: #e2e2e2;

  --input-bg-color: #f7f7f7;

  --paragraph-font: "Poppins", sans-serif;
  --heading-font: 'Heebo', sans-serif;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 600;
  --ebold: 700;
}

/* font-family: 'Heebo', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Rubik', sans-serif; 
font-family: 'Mukta', sans-serif;*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

body {
  background-color: var(--secondary-light-bg-color);
  margin: 0;
  padding: 0;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* .tiny-nav .container,
.header-search .container,
.header-navbar .container,
.banner .container,
.quick-about .container,
.top-slider .container,
.offers .container {
  max-width: calc(100% - 10%);
} */






/* -------------------------------------------- Tiny Top Navbar ------------------------------------------ */

.tiny-nav {
  background-color: var(--primary-dark-color);
  color: #f3f3f3;
  padding: 0;
  margin: 0;
  border-radius: 0;
  font-size: 12px;
  font-family: var(--paragraph-font);
}

.tiny-nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.tiny-nav .container .tiny-btn {
  color: var(--secondary-light-bg-color);
  -webkit-transition: 0.18s ease-in;
  transition: 0.18s ease-in;
}

.tiny-nav .container .tiny-btn:hover {
  color: var(--theme-color);
}

.tiny-nav .container .dropdown-menu {
  min-width: 100px !important;
  border: none;
  -webkit-box-shadow: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
}

.tiny-nav .container .dropdown-menu .dropdown-item {
  padding: 3px 20px;
  font-size: 13px !important;
  color: #252525;
}

.tiny-nav .container .dropdown-menu .dropdown-item:hover {
  background-color: #e5e7e8;
}

.tiny-nav .container .dropdown-menu .dropdown-item:focus {
  color: #000;
  background-color: #e5e7e8;
}

/* -------------------------------------------- Header Search ------------------------------------------ */

.header-search {
  margin: 0;
  padding: 25px 0;
  background-color: #fff;
}

/* .header-search .container {
  max-width: calc(100% - 10%);
} */

.header-search .container .row .imgBox {
  position: relative;
  /* background-color: var(--secondary-dark-color); */
}

.header-search .container .row .imgBox img {
  width: 130px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*---- search group start herer----*/

/* .header-search .container .row .search-group {
  background-color: royalblue;
} */

.header-search .container .row .search-group .inner-wrapper ,
.header-navbar .container .search-group .inner-wrapper {
  display: flex !important;
}

.header-search .container .row .search-group .inner-wrapper .search-catergory select ,
.header-navbar .container .search-group .inner-wrapper .search-catergory select {
  position: relative;
  height: 100%;
  font-size: 14px;
  padding: 3px 20px 3px 20px;
  border-radius: 0;
  outline: none;
  border: none;
  background-color: var(--input-bg-color);
  color: #252525;
  font-family: var(--paragraph-font);
  font-weight: 'medium';
}

.header-search .container .row .search-group .inner-wrapper .input ,
.header-navbar .container .search-group .inner-wrapper .input {
  width: 100% !important;
  padding: 5px 15px;
  outline: none;
  background-color: var(--input-bg-color);
  border: none;
  border-radius: 0;
  color: #757575;
  font-family: var(--paragraph-font);
  font-weight: 'medium';
  font-size: 14px;
  height: 100%;
}

.header-search .container .row .search-group .inner-wrapper .search-btn button ,
.header-navbar .container .search-group .inner-wrapper .search-btn button {
  padding: 13px 15px 9px;
  outline: none;
  border: none;
  background-color: var(--theme-color);
  border-radius: 0;
}

.header-search .container .row .search-group .inner-wrapper .search-btn button .fa-search ,
.header-navbar .container .search-group .inner-wrapper .search-btn button .fa-search {
  font-size: 18px;
  color: #fff !important;
}

.header-search .container .row .searchBox .hamburger-btn .wrapper .fa-bars{
   color: var(--theme-color);
   font-size: 29px;
}

.header-search .container .row .search-group .inner-wrapper .input-grp,
.header-navbar .container .search-group .inner-wrapper .input-grp{
  background-color: red;
  position: relative;
}
.header-search .container .row .search-group .inner-wrapper .input-grp .search-result,
.header-navbar .container .search-group .inner-wrapper .input-grp .search-result {
  /* background-color: orange; */
  background-color: var(--input-bg-color);
  width: 100%;
  padding: 10px;
  position: absolute;
  z-index: 100;
  display: none;
}

.header-search .container .row .search-group .inner-wrapper .input-grp .search-result .wrapper,
.header-navbar .container .search-group .inner-wrapper .input-grp .search-result .wrapper{
  /* background-color: pink; */
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.header-search .container .row .search-group .inner-wrapper .input-grp .search-result .wrapper:hover,
.header-navbar .container .search-group .inner-wrapper .input-grp .search-result .wrapper:hover {
  background-color: #e2e2e2;
}

.header-search .container .row .search-group .inner-wrapper .input-grp .search-result .wrapper img,
.header-navbar .container .search-group .inner-wrapper .input-grp .search-result .wrapper img {
  width: 60px;
  height: 60px;
}

.header-search .container .row .search-group .inner-wrapper .input-grp .search-result .wrapper .content,
.header-navbar .container .search-group .inner-wrapper .input-grp .search-result .wrapper .content{
  /* background-color: skyblue; */
  position: relative;
  font-family: var(--paragraph-font);
  height: 60px;
  padding-left: 10px;
  color: #353535;
}

.header-search .container .row .search-group .inner-wrapper .search-result .wrapper .content h5,
.header-navbar .container .search-group .inner-wrapper .search-result .wrapper .content h5 {
  font-size: 16px;
  margin: 0 !important;
  padding: 0 !important;
}

.header-search .container .row .search-group .inner-wrapper .search-result .wrapper .content p,
.header-navbar .container .search-group .inner-wrapper .search-result .wrapper .content p {
  font-size: 14px;
  margin: 0 !important;
  padding: 0 !important;
}

/* -------------------------------------------- Header Navbar ------------------------------------------ */

.header-navbar {
  margin: 0;
  background-color: var(--theme-color);
}

/* .header-navbar .container {
  max-width: calc(100% - 10%);
} */

.header-navbar .container .navbar-wrapper {
  font-family: var(--paragraph-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-navbar .container .navbar-wrapper .category-menu {
  position: relative;
}

.header-navbar .container .navbar-wrapper .category-menu .dropdown .cat-btn {
  background-color: var(--primary-dark-color);
  display: block;
  color: #fff;
  text-align: center;
  padding: 15px 25px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: var(--medium);
  -webkit-transition: 0.18s ease-in-out;
  transition: 0.18s ease-in-out;
}

.header-navbar .container .navbar-wrapper .category-menu .dropdown .dropdown-menu {
  width: auto;
  font-size: 14px;
}

.header-navbar .container .navbar-wrapper .category-menu .dropdown .dropdown-menu .dropdown-item {
  padding: 8px 20px !important;
  border-left: 3px solid #fff;
  background-color: #fff;
  color: var(--secondary-dark-color);
}

.header-navbar .container .navbar-wrapper .category-menu .dropdown .dropdown-menu .dropdown-item:hover {
  border-color: var(--theme-color);
  color: var(--theme-color);
}

.header-navbar .container .navbar-wrapper .category-menu .dropdown .dropdown-menu .dropdown-item:focus {
  background-color: #fff;
  color: var(--theme-color);
}

.header-navbar .container .navbar-wrapper .category-menu .dropdown .dropdown-menu .dropdown-submenu {
  position: relative;
}
.header-navbar .container .navbar-wrapper .category-menu .dropdown .dropdown-menu .dropdown-submenu:hover .dropdown-menu,
.header-navbar .container .navbar-wrapper .category-menu .dropdown .dropdown-menu .dropdown-submenu:focus .dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute !important;
  margin-top: -30px;
  left: 100%;
}

.header-navbar .container .navbar-wrapper .main-menu { margin-left: 20px; }

.header-navbar .container .navbar-wrapper .main-menu nav { padding: 0; }

.header-navbar .container .navbar-wrapper .main-menu nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex; */
}

.header-navbar .container .navbar-wrapper .main-menu nav ul li { float: left; }

.header-navbar .container .navbar-wrapper .main-menu nav ul a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 15px 25px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: 0.18s ease-in-out;
  transition: 0.18s ease-in-out;
}

.header-navbar .container .navbar-wrapper .main-menu nav ul a:hover {
  background-color: #068bc0;
}


/* -------------------------------------------- Mobile Navbar ------------------------------------------ */

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: #12121267;
  z-index: 10000;
  overflow-x: scroll;
  transition: all .35s ease-out; /*cubic-bezier(0.4, 0.01, 0.165, 0.99)*/
}
.mobile-nav .container  {
  position: relative;
  background-color: #121212;
  width: 75%;
  margin-left: -100%;
  padding: 60px 25px 25px;
  height: 100%;
  overflow-y: scroll;
  transition: all .35s ease-out;
}

.mobile-nav .container .close-btn  {
  /* background-color: orange; */
  /* position: relative; */
}

.mobile-nav .container .close-btn div {
  position: absolute;
  /* background-color: red; */
  color: #949494;
  right: 10%;
  top: 25px;
  font-size: 25px;
}

.mobile-nav .container .innder-container {
  /* background-color: burlywood; */
}

.mobile-nav .container .innder-container ul {
  /* background-color: #ec2f4e; */
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav .container .innder-container ul li {
  /* background-color: #a0152d; */
  margin: 20px 0;
  /* padding: 10px 0; */
}

.mobile-nav .container .innder-container ul li ul {
  margin-left: 15px;
  padding: 0;
  margin: 0 0 0 10px;
  /* background-color: orange; */
}

.mobile-nav .container .innder-container ul li ul li {
  /* background-color: #d38900; */
  margin: 0;
  padding: 10px 0;
}

.mobile-nav .container .innder-container ul li ul li .menu-links {
  font-size: 19px;
}

.mobile-nav .container .innder-container .menu-links {
  /* background-color: #0799d3; */
  display: block;
  color: #e4e4e4;
  width: 100% !important;
  /* margin: 7px 0; */
  font-family: 'Mukta', sans-serif;
  font-weight: 200;
  font-size: 21px;
}
/* -------------------------------------------- Banner Slider ------------------------------------------ */

.banner {
   /* box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.1); */
   margin: 0;
   padding: 20px 0;
}

/* .banner .container {
  max-width: calc(100% - 10%);
} */

/* .banner  .carousel .carousel-item {
  
} */

.banner .carousel .carousel-control-prev {
   background: var(--theme-color);
   width: 40px;
   height: 40px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   opacity: .6;
 }

.banner .carousel .carousel-control-next {
  background: var(--theme-color);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: .6;
}

.banner .carousel .carousel-item {
   transition: .5s; /* cubic-bezier(.67,.3,.41,.69) */
}

.banner .carousel-indicators li {
  width: 10px;
  height: 8px;
  background-color: var(--theme-color);
  opacity: .5;
  transition: .5s ease;
}

.banner .carousel-indicators li.active {
  width: 20px !important;
  opacity: .8;
}



/* -------------------------------------------- Quick About ------------------------------------------ */

.quick-about {
  margin: 0;
  border-radius: 0;
  padding: 25px 15px;
  background-color: var(--secondary-light-bg-color);
}

/* .quick-about .row {
  background-color: #90a7b9;
} */

.quick-about .row .cols {
  /* background-color: #c7b492; */
  background-color: #fff;
  /* padding: 10px; */
  display: grid;
  align-items: center;
  padding: 45px 15px;
}

.quick-about .row .wrapper {
  /* background-color: #c5c5e2; */
  text-align: center;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.quick-about .row .wrapper .icons {
  /* background-color: red; */
  padding-right: 10px;
  padding-top: 10px;
}

.quick-about .row .wrapper .icons .fa-location-arrow, 
.quick-about .row .wrapper .icons .fa-tag {
  font-size: 30px;
  margin-bottom: 10px;
  color: var(--theme-color)
}

/* .quick-about .row .wrapper .content {
  background-color: skyblue;
} */

.quick-about .row .wrapper .content h3{
  font-size: 19px;
  font-family: var(--heading-font);
  color: #3a3a3a;
  margin: 5px 0 !important;
}

.quick-about .row .wrapper .content p {
  margin: 0 auto!important;
  font-family: var(--paragraph-font);
  font-size: 15px;
  line-height: 1.7em;
  color: var(--secondary-dark-color);
  max-width: 200px;
  text-align: center !important;
}


/* -------------------------------------------- Top Slider ------------------------------------------ */

.top-slider {
  background-color: var(--secondary-light-bg-color);
  margin: 0;
  border-radius: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.top-slider .container {
  background-color: #fff;
}

/* .top-slider .container .wrapper {
  background-color: pink;
} */

.top-slider .container .wrapper h2 {
  /* background-color: red; */
  font-size: 24px;
  font-family: var(--heading-font);
  color: #3a3a3a;
  padding: 15px 10px 0 10px;
  margin-bottom: 10px;
  position: relative;
}
.top-slider .container .wrapper h2::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 40px;
  top: calc(100% + 3px);
  /* border-radius: 15px; */
  background-color: var(--theme-color);
}

.top-slider .t_slider {
  background-color: #c7b2a5;
  /* padding: 25px 0; */
}

.top-slider .t_slider .item {
  background-color: #fff;
  padding: 15px;
  /* max-width: 300px; */
}

.top-slider .t_slider .item .imgBox span {
  position: absolute;
  color: #fff;
  padding: 3px 7px;
  font-family: var(--heading-font);
  font-size: 11px;
  margin-top: 10px;
}

.top-slider .t_slider .item .imgBox img {
  width: 100%;
}

.top-slider .t_slider .item .content {
  /* background-color: #ebd9b8; */
  padding: 15px 0 0 0;
  text-align: center;
}

.top-slider .t_slider .item .content .title{
  font-size: 18px;
  font-family: var(--heading-font);
  color: #3a3a3a;
  margin: 5px 0 !important;
}

.top-slider .t_slider .item .content .price-tag{
  /* background-color: #b8e097; */
  font-family: var(--paragraph-font);
  font-size: 18px;
  margin: 0 !important;
  font-weight: var(--regular);
  color: #949494;
  text-align: center;
}

/* .top-slider .t_slider .item .content a{
  background-color: #27c8f0;
  font-family: var(--heading-font);
  font-size: 13px;
  font-weight: var(--medium);
  text-transform: uppercase;
  float: right;
  padding: 5px 25px;
  background-color: #f68972;
  color: #fff;
  transition: .3s ease;
  box-shadow: 0px 2px 4px rgba(50, 50, 93, 0.15);
} */

/* .top-slider .indicators {
  background-color: orange;
  height: 40px;
  width: 100%;
  position: relative !important;
}

.top-slider .indicators .prev,
.top-slider .indicators .next {
  background-color: #fff;
  font-size: 19px;
  padding: 1px 10px;
  border: 1px solid #ddd;
  outline: none;
  transition: .4s ease;
  border-radius: 3px;
  z-index: 2;
}

.top-slider .indicators .prev {
  position: absolute;
  top: 0;
  right: 35px;
}

.top-slider .indicators .next {
  position: absolute;
  top: 0;
  right: 0;
}

.top-slider .indicators .prev:hover,
.top-slider .indicators .next:hover {
  background-color: var(--primary-dark-color) !important;
  color: #fff;
  border-color: var(--primary-dark-color) !important;
} */



/* -------------------------------------------- Offer section ------------------------------------------ */




.offers {
  margin: 0;
  border-radius: 0;
  padding: 25px 10px;
  background-color: var(--secondary-light-bg-color);
}
/* .offers .container {
  max-width: calc(100% - 10%);
} */

/*.offers .container .row{
  background-color: green;
} */

.offers .container .row .cols{
  /* background-color: skyblue; */
  padding: 20px 0;
  position: relative;
}

.offers .container .row .cols:nth-child(1) {
  padding-right: 10px;
}

.offers .container .row .cols:nth-child(2) {
  padding-left: 10px;
}

/* .offers .container .row .cols img {
  
} */

.offers .container .row .cols .content {
  /* background-color: yellowgreen; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 35px;
}

.offers .container .row .cols .content h5 {
  font-family: var(--paragraph-font);
  font-weight: var(--medium);
  color: #3a3a3a;
  font-size: 23px;
}

.offers .container .row .cols .content p {
  font-family: var(--paragraph-font);
  color: #757575;
  font-size: 18px;
}

.offers .container .row .cols .content .offer-btn {
  padding: 7px 20px;
  color: #fff;
  background-color: var(--theme-color);
  margin-top: 10px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}


/* -------------------------------------------- Experience ------------------------------------------ */

.exp {
  margin: 25px 0;
  border-radius: 0;
  /* background-color: #3a3a3a; */
  background-color: #0799d31a;   /*#eaf0f7;*/
}
/* 
.exp .container {
  background-color: orange;
} */

.exp .container .row .cols:nth-child(1) {
  /* background-color: skyblue; */
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
}

.exp .container .row .cols:nth-child(2) {
  /* background-color: rgb(96, 145, 165); */
  display: flex;
  justify-content: center;
  padding: 0;
}

.exp .container .row .cols:nth-child(1) .content{
  /* background-color: palevioletred; */
  padding: 25px;
}

.exp .container .row .cols:nth-child(1) .content h2 {
  font-family: var(--paragraph-font);
  /* color: #dfdfdf; */
  color: #252525;
  line-height: 45px;
  font-size: 36px;
}

.exp .container .row .cols:nth-child(1) .content p:nth-child(1) {
  /* color: #acacac; */
  font-weight: var(--medium);
  color: #464646;
}
.exp .container .row .cols:nth-child(1) .content p:nth-last-child(1) {
  font-family: var(--paragraph-font);
  /* color: #d6d6d6; */
  color: #474747;
  line-height: 27px;
  font-size: 16px;
  max-width: 500px;
  margin-top: 20px;
}

.exp .container .row .cols:nth-child(2) img{
  width: 100%;
  object-fit: cover;
}


/* .exp .container .row.stats {
  background-color: pink;
  margin-top: 50px;
}

.exp .container .row.stats .box {
  background-color: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 20px;
}

.exp .container .row.stats .box .icons {
  background-color: skyblue;
  font-size: 38px;
}

.exp .container .row.stats .box .wrapper {
  background-color: tomato;
  margin-left: 20px;
  color: #d6d6d6;
  color: #252525;
}

.exp .container .row.stats .box .wrapper h3 {
  font-family: var(--paragraph-font);
  margin: 0;
  font-size: 30px;
}

.exp .container .row.stats .box .wrapper p {
  font-family: var(--heading-font);
  margin: 0;
  font-size: 17px;
  font-weight: var(--medium);
} */


/* -------------------------------------------- Testimonial ------------------------------------------ */
.testi {
  margin: 0;
  border-radius: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--secondary-light-bg-color);
}

.testi .container {
  background-color: #fff;
}

.testi .container h2 {
  font-size: 24px;
  font-family: var(--heading-font);
  color: #3a3a3a;
  padding: 15px 10px 0 10px;
  /* margin-bottom: 10px; */
  position: relative;
}
.testi .container h2::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 40px;
  top: calc(100% + 3px);
  /* border-radius: 15px; */
  background-color: var(--theme-color);
}

.testi .row {
  /* background-color: burlywood; */
  /* padding: 0; */
  margin: 0;

}

.testi .row2 {
  /* background-color: brown; */
  margin-bottom: 20px;
  /* padding: 25px; */
}

.testi .row2 .cols2 {
  /* background-color: skyblue; */
  padding: 15px;
}

.testi .row2 .cols2 .wrapper{
  /* background-color: orangered; */
  padding: 15px;
  /* box-shadow: 0 0.6375rem 0.975rem 0 #f4f8fe, 0 3px 6px 0 #f4f8fe !important; */
}

.testi .row2 .cols2 .wrapper .flexbox {
  /* background-color: yellowgreen; */
  display: flex;
  align-items: center;
}

.testi .row2 .cols2 .wrapper .flexbox img { 
  width: 50px;
  height: 50px;
}
.testi .row2 .cols2 .wrapper .flexbox h3 {
  font-family: var(--paragraph-font);
  font-size: 19px;
  color: #0799d3;
  font-weight: var(--medium);
  margin-left: 15px;
}

.testi .row2 .cols2 .wrapper p {
  font-family: var(--paragraph-font);
  font-size: 15px;
  line-height: 28px;
  color: #757575;
  margin-top: 20px !important;
}


/* -------------------------------------- Footer ------------------------------------------ */

.footer {
  margin: 30px 0 0 0;
  padding-top: 35px;
  padding-bottom: 25px;
  border-radius: 0;
  background-color: #e9ecf0;
}

.footer .container .row .cols {
  padding: 15px;
}

/* .footer .container .row .cols:nth-child(1) img{
  background-color: red;
} */

.footer .container .row .cols:nth-child(1) ul{
  /* background-color: pink; */
  list-style: none;
  margin-top: 35px;
}

.footer .container .row .cols:nth-child(1) ul li a{
  color: #252525;
  display: flex;
  font-family: var(--paragraph-font);
  font-weight: var(--regular);
  font-size: 14px;
  /* background-color: mediumorchid; */
  align-items: center;
  margin: 12px 0;
}

.footer .container .row .cols:nth-child(1) ul li a .icons {
  /* background: rgb(141, 118, 60); */
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.footer .container .row .cols:nth-child(1) ul li a .icon-text p{
  /* background-color: orange; */
  padding: 0;
  margin: 0;
}

/* .footer .container .row .cols:nth-child(2) {
  background-color: rgb(102, 102, 102);
} */

/* .footer .container .row .cols:nth-child(2) .content,
.footer .container .row .cols:nth-child(3) .content {
  background-color: rgb(235, 98, 98);
} */

.footer .container .row .cols:nth-child(2) .content ul,
.footer .container .row .cols:nth-child(3) .content ul{
  list-style: none;
  margin: 10px 0 0;
}

.footer .container .row .cols:nth-child(2) .content li,
.footer .container .row .cols:nth-child(3) .content li{
  margin: 5px 0;
}

.footer .container .row .cols:nth-child(2) .content h3 ,
.footer .container .row .cols:nth-child(3) .content h3 {
  font-family: var(--heading-font);
  font-weight: var(--bold);
  color: #252525;
  font-size: 20px;
}

.footer .container .row .cols:nth-child(2) .content ul a,
.footer .container .row .cols:nth-child(3) .content ul a{
  color: #252525;
  font-family: var(--paragraph-font);
  font-weight: var(--regular);
  font-size: 14px;
}

/* .footer .container .row .cols:nth-child(3) {
  background-color: rgb(94, 94, 94);
} */

/* .footer .container .row .cols:nth-child(4) {
  background-color: rgb(80, 80, 80);
} */

.footer .container .row .cols:nth-child(4) h3{
  font-family: var(--heading-font);
  font-weight: var(--bold);
  color: #252525;
  font-size: 20px;
}

.footer .container .row .cols:nth-child(4) p {
  font-family: var(--paragraph-font);
  font-weight: var(--regular);
  color: #252525;
  font-size: 15px;
  margin: 10px 0 30px 0;
}

.footer .container .row .cols:nth-child(4) .input-box form{
  background-color: orange;
  display: flex;
}

.footer .container .row .cols:nth-child(4) .input-box .input{
  width: 100%;
  font-family: var(--paragraph-font);
  color: #353535;
  padding: 7px 12px;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 0;
}

.footer .container .row .cols:nth-child(4) .input-box .input-btn{
  padding: 7px 12px;
  font-size: 14px;
  border: none;
  background-color: var(--theme-color);
  color: #fff;
  font-weight: var(--regular);
  font-size: 15px;
  outline: none;
}

.footer .container .row .cols:nth-child(4) ul {
  list-style: none;
  /* background-color: orange; */
  margin-top: 25px;
  padding: 10px 0;
}

.footer .container .row .cols:nth-child(4) ul li {
  /* margin: 5px; */
  background-color: #fff;
  /* padding: 5px 13px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
  transition: .15s ease-in-out;
}

.footer .container .row .cols:nth-child(4) ul li:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.footer .container .row .cols:nth-child(4) ul li a {
  color: #252525;
  padding: 5px 13px;
}

.footer .container .row .cols:nth-child(4) ul li .icon {
  font-size: 15px;
}



































/* -------------------------------------------------------------------------------------------------------- */
/*                                                  Media Query                                             */
/* -------------------------------------------------------------------------------------------------------- */

@media (max-width: 1024px) {
}
@media (max-width: 991px) {
  .quick-about .row .cols .wrapper .content h3 {
    font-size: 17px;
  }

  .quick-about .row .cols .wrapper .content p {
    font-size: 14px;
  }

  .quick-about .row .wrapper .icons .fa-location-arrow, 
  .quick-about .row .wrapper .icons .fa-tag {
  font-size: 25px;
  }

  .top-slider .t_slider .item .content .title {
    font-size: 17px;
    font-weight: var(--regular) ;
    font-family: var(--paragraph-font);
  }

  .top-slider .t_slider .item .content .price-tag {
    font-size: 17px;
    font-weight: var(--regular) ;
  }

  .top-slider .t_slider .item .content a {
    font-size: 12px;
    padding: 5px 15px;
  }

  .offers .container .row .cols:nth-child(1) {
    padding-right: 0;
  }
  
  .offers .container .row .cols:nth-child(2) {
    padding-left: 0;
  }
}
@media (max-width: 850px) {
  .top-slider .t_slider .item .content a {
    font-size: 12px;
    padding: 5px 25px;
  }
}
@media (max-width: 700px) {
}
@media (max-width: 768px) {
  .header-search {
    padding: 25px 0 !important;
  }

  .header-navbar {
     padding: 15px 0;
  }

  .header-navbar .container .search-group .inner-wrapper .search-btn button {
      background-color: var(--primary-dark-color);
      padding: 7px 13px 5px;
  }

  .header-navbar .container .search-group .inner-wrapper .search-catergory select {
      font-size: 12px;
      padding: 3px 0 3px 10px;
      background-color: var(--input-bg-color);
      color: #252525;
   }

   .header-navbar .container .search-group .inner-wrapper .input {
      font-size: 13px;
      padding: 3px 10px;
   }

   .banner .container .carousel .carousel-control-prev,
   .banner .container .carousel .carousel-control-next {
      width: 30px;
      height: 30px;
   }
   
  .quick-about .row .cols {
    padding: 25px 10px;
  }

  .quick-about .row .cols .wrapper .content h3 {
    font-size: 18px;
  }

  .quick-about .row .cols .wrapper .content p {
    font-size: 15px;
  }

  .top-slider .container .wrapper h2 {
    font-size: 21px;
  }

  .header-search .container .row .search-group .inner-wrapper .input-grp .search-result .wrapper img,
  .header-navbar .container .search-group .inner-wrapper .input-grp .search-result .wrapper img {
    width: 50px;
    height: 50px;
  }

  .header-search .container .row .search-group .inner-wrapper .search-result .wrapper .content h5,
  .header-navbar .container .search-group .inner-wrapper .search-result .wrapper .content h5 {
    font-size: 14px;
  }

  .header-search .container .row .search-group .inner-wrapper .search-result .wrapper .content p,
  .header-navbar .container .search-group .inner-wrapper .search-result .wrapper .content p {
    font-size: 12px;
  }

  .exp .container .row.stats .box {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .tiny-nav .container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .tiny-nav .container .cus_sup {
    display: none;
  }

  .top-slider .t_slider {
    padding: 0;
    /* margin: 0 10px; */
  }
}
@media (max-width: 575px) {
   .header-search .container .row .imgBox img {
      width: 120px;
   }

   .header-search .container .row .searchBox .hamburger-btn .wrapper { margin-right: 10px; }
   .header-search .container .row .searchBox .hamburger-btn .fa-bars{
      font-size: 25px !important;
   }

   .header-search {
      padding: 15px 0 !important;
    }

    .quick-about .row .cols {
      padding-left: 20px;
      padding-right: 20px;
    }

    .quick-about .row .cols .wrapper .content p {
      max-width: 100%;
    }

    .offers .container .row .cols .content h5 {
      font-size: 20px;
    }

    .offers .container .row .cols .content p {
      font-size: 16px;
    }

    .offers .container .row .cols .content .offer-btn {
      font-size: 14px;
      padding: 6px 10px;
      margin-top: 0;
    }

    .exp .container .row .cols:nth-child(1) .content h2 {
      font-size: 32px;
    }

    .testi .row2 .cols2 .wrapper .flexbox img {
      width: 37px;
      height: 37px;
    }

    .testi .row2 .cols2 .wrapper p {
      font-size: 14px;
    }
}
@media (max-width: 430px) {
  .top-slider .container .wrapper h2 {
    font-size: 19px;
  }

  .quick-about .row .cols .wrapper .content h3 {
    font-size: 16px;
  }

  .quick-about .row .cols .wrapper .content p {
    font-size: 13px;
  }

  .offers .container .row .cols .content h5 {
    font-size: 19px;
  }

  .offers .container .row .cols .content p {
    font-size: 15px;
  }

  .offers .container .row .cols .content .offer-btn {
    font-size: 13px;
    padding: 5px 8px;
  }

  .exp .container .row .cols:nth-child(1) .content h2 {
    font-size: 27px;
    line-height: 35px;
  }

  .exp .container .row .cols:nth-child(1) .content p:nth-last-child(1) {
    font-size: 16px;
  }

  .header-search .container .row .searchBox .hamburger-btn .wrapper .fa-bars {
    font-size: 25px !important;
  }
}
@media (max-width: 380px) {
  .header-search .container .row .searchBox .hamburger-btn .wrapper .fa-bars {
    color: var(--theme-color);
    font-size: 22px !important;
  }

  .offers .container .row .cols .content h5 {
    font-size: 16px;
  }

  .offers .container .row .cols .content p {
    font-size: 13px;
    margin-bottom: 8px;
  }

  .offers .container .row .cols .content .offer-btn {
    font-size: 12px;
    padding: 4px 7px;
  }
}
@media (max-width: 350px) {
}
